<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1><br><br><br><br>
      <%= link_to "Add new product!", new_product_path, class: "btn btn-lg btn-primary" %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.products.any? %>
      <h3>Products (<%= @user.products.count %>)</h3>
      <ol class="products">
        <%= render @products %>
      </ol>
      <%= will_paginate @products %>
    <% end %>
  </div>
</div>