<%= form_with(model: @product) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.text_area :description, placeholder: "Compose new description..." %>
        <%= f.label price %>
        <%= f.text_field :price, class: 'form-control' %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>