<li id="product-<%= product.id %>">
<span class="name"><%= link_to product.name, product_path(product.id) %></span>
<span class="content">
<% if product.image.attached? %>
  <%= image_tag product.image.variant(:display) %>
<% end %>
<%= product.description %>
</span>
<span class="price">$<%= product.price %></span>
<span class="timestamp">
  Posted <%= time_ago_in_words(product.created_at) %> ago.
  <% if current_user?(product.user) %>
      <%= link_to "delete", product, data: { "turbo-method": :delete,
                                               turbo_confirm: "You sure?" } %>
      <%= link_to "edit", edit_product_path(product) %>
  <% end %>
</span>
<% if !current_user.role? %>
  <% if @cart.include?(product) %>
    <%= button_to 'remove from cart', remove_from_cart_path(product), method: :delete %>
  <% else %>
    <%= link_to 'add to cart', add_to_cart_path(product), method: :post %>
  <% end %>
<% end %>
</li>