<li id="product-<%= product.id %>">
<span class="name"><%= product.name %></span>
<span class="content"><%= product.description %></span>
<span class="price">$<%= product.price %></span>
<span class="timestamp">
  Posted <%= time_ago_in_words(product.created_at) %> ago.
</span>
</li>