<% provide(:title, 'Products') %>
<div class="center jumbotron">
  <h1>Welcome to the Ecommerce</h1>
  <% if !logged_in? %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <% else %>
</div>
<details>
  <summary>Shopping Cart</summary>
  <% if @cart.empty? %>
    <p>No itmes in cart.</p>
  <% else %>
    <ul>
      <% @cart.each do |product| %>
        <li><%= product.name %></li> <%= button_to 'remove from cart', remove_from_cart_path(product), method: :delete %>
      <% end %>
    </ul>
  <% end %>
</details>
<div class="row">
  <div class="col-md-8">
    <h3>All Products</h3>
        <%= will_paginate @products %>
        <ol class="products">
          <%= render @products %>
        </ol>
        <%= will_paginate @products %>
    
  </div>
</div>
<% end %>