<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<aside class="col-md-4">
				<% if @product.image.attached? %>
					<%= image_tag @product.image.variant(:display) %>
				<% end %>
				<div class="table-responsive">
					<table class="table">
						<tr>
							<td><strong>Name:</strong></td>
							<td><%= @product.name %></td>
						</tr>
						<tr>
							<strong>Description:</strong>
							<%= @product.description %>
						</tr>
						<tr>
							<td><strong>Price:</strong></td>
							<td><%= @product.price %></td>
						</tr>
					</table>
					<%= link_to "Write a Review", new_product_review_path(@product) %>
				<div>
			</aside>
			<div class="col-md-8">
				<h1 class="review_title"><%= @product.name %></h1>
				<p><%= @product.description %></p>

				<% if @reviews.blank? %>
					<h3>No reviews just yet, would you like to add the first!</h3>
					<%= link_to "Write Review", new_product_review_path(@product), class: "btn btn-danger" %>
				<% else %>
					<% @reviews.each do |review| %>
						<div class="reviews">
							stars: <%= render_stars(review.rating) %>
							<p><%= review.comment %></p>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>